{% extends "base_generic.html" %}

{% block content %}
    <div class="contact-info">
        <h2>Контакты</h2>
        <table class="table">
            <tr>
                <td>Страна</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>ИНН</td>
                <td>91-1144442</td>
            </tr>
            <tr>
                <td>Адрес</td>
                <td>Redmond, WA, 98052-6399</td>
            </tr>
        </table>
    </div>

    <div class="contact-form">
        <h3>Свяжитесь с нами</h3>
        <form method="post" action="">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name">Имя</label>
                <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="mb-3">
                <label for="phone">Телефон</label>
                <input type="text" name="phone" class="form-control" id="phone" required>
            </div>
            <div class="mb-3">
                <label for="message">Сообщение</label>
                <textarea name="message" class="form-control" id="message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        {% if success %}
            <div class="alert alert-success mt-3">Данные успешно отправлены!</div>
        {% endif %}
    </div>
{% endblock %}
